<h1>Meow</h1>

<p><%= link_to('add new link', new_link_path) %></p>

<% @links.each do |link| %>
<p><%= link.title%> | <a href="<%= link.url %>"><%= link.url %></a> | <%= link_to('destroy', link_path(link), method: :delete) %> | <%= link_to('edit', edit_link_path(link)) %></p>
<% end %>
