<div class="container">

  <h1>Meoooowelcome</h1>
  <h2>Here the latest cute furry animals:</h2>

  <hr>

  <% @links.each do |link| %>
    <h3><%= link_to link.title, link %></h3>
    <p>Submitted about <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></p>
    <p>Visit link <a href="<%= link.url %>"><%= link.url %></a></p>
    <p>
      <% if current_user == link.user %>
        <%= link_to('destroy', link_path(link), method: :delete) %> |
        <%= link_to('edit', edit_link_path(link)) %> |
      <% end %>
      <%= link_to("Upvote", like_link_path(link), method: :put) %> (<%= link.get_upvotes.size %>) |
      <%= link_to("Downvote", dislike_link_path(link), method: :put) %> (<%= link.get_downvotes.size %>)
    </p>
  <% end %>

</div>


