<div class="container">
(<%= link_to('back home', root_path)%>)

  <div class="row">
    <div class="col-md-8">

      <h2>
        <%= @link.title %><br />
        <small class="author">Submitted about <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %></small>
      </h2>

      <%= display(@link.url) %>

      <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= @link.url %>">Visit Link</a>
        <% if current_user == @link.user %>
          <%= link_to('Delete', link_path(@link), method: :delete, class: "btn btn-default btn-sm") %>
          <%= link_to('edit', edit_link_path(@link), class: "btn btn-default btn-sm") %>
        <% end %>
        <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= @link.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down">
          Downvote
          <%= @link.get_downvotes.size %>
        <% end %>
      </div>

      <hr>

      <h4>Add a comment</h4>
      <%= simple_form_for [@link, Comment.new]  do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <br>
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>

      <hr>

      <% @link.comments.each do |comment| %>
        <p><%= comment.body %> -- <small class="author">Submitted about <%= time_ago_in_words(comment.created_at) %> by <%= comment.user.email %>
        <% if comment.user == current_user || comment.link.user == current_user %>
          ( <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %> )
          <% end %></small>
        <% end %>
      </p><br />

    </div>
    <div class="col-md-4">
      <p>ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads ads </p>
    </div>

  </div>

</div>


